<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="http://zhatrix.github.io/main.css" rel="stylesheet" type="text/css">
    <link title="Atom feed" href="/atom.xml" type="application/atom+xml" rel="alternate">
    <link title="RSS Feed" href="/rss.xml" rel="alternate" type="application/rss+xml" >
    <link href="http://zhatrix.github.io/favicon.ico" rel="shortcut icon">
    <title>{{ page.title }}</title>
    
</head>

<body>

<h2>{{ page.title }}</h2>

{{ content }}

</body>

</html>


