<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="http://www.zhatrix.com/main.css" rel="stylesheet" type="text/css">
    <link title="Atom feed" href="/atom.xml" type="application/atom+xml" rel="alternate">
    <link title="RSS Feed" href="/rss.xml" rel="alternate" type="application/rss+xml" >
    <link href="http://www.zhatrix.com/favicon.ico" rel="shortcut icon">
    <title>{{ page.title }}</title>
    
</head>

<body>

<h2>{{ page.title }}</h2>

{{ content }}

<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ page.title }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"zhatrix"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

</body>

</html>


